In [1]:
import numpy as np
import matplotlib.pyplot as plt
from python_utils import *
import copy
import math

In [4]:
import pandas as pd
data_train=pd.read_csv("/Users/hussamuddin/Downloads/fraudTrain.csv")
data_test=pd.read_csv("/Users/hussamuddin/Downloads/fraudTest.csv")

In [9]:
y_train=data_train['is_fraud']
x_train=data_train.drop('is_fraud',axis=1)

In [10]:
x_train.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459

In [11]:
x_train=x_train.drop('Unnamed: 0',axis=1)
x_train=x_train.drop('trans_date_trans_time',axis=1)
x_train=x_train.drop('merchant',axis=1)
x_train=x_train.drop('category',axis=1)
x_train=x_train.drop('first',axis=1)
x_train=x_train.drop('last',axis=1)
x_train=x_train.drop('gender',axis=1)
x_train=x_train.drop('street',axis=1)
x_train=x_train.drop('job',axis=1)
x_train=x_train.drop('dob',axis=1)
x_train=x_train.drop('trans_num',axis=1)
x_train=x_train.drop('city',axis=1)
x_train=x_train.drop('state',axis=1)

In [12]:
x_train.head()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
0,2703186189652095,4.97,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315
1,630423337322,107.23,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462
2,38859492057661,220.11,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481
3,3534093764340240,45.00,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071
4,375534208663984,41.96,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459

In [13]:
x_train=x_train.to_numpy()
y_train=y_train.to_numpy()

In [14]:
print ('The shape of X_train is: ' + str(x_train.shape))
print ('The shape of y_train is: ' + str(y_train.shape))
print ('We have m = %d training examples' % (len(y_train)))

The shape of X_train is: (1296675, 9)
The shape of y_train is: (1296675,)
We have m = 1296675 training examples

In [15]:
print("Type of x_train:",type(x_train))
print("Type of y_train:",type(y_train))

Type of x_train: <class 'numpy.ndarray'>
Type of y_train: <class 'numpy.ndarray'>

In [88]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
x_train = scaler.fit_transform(x_train.data)

In [16]:
#defining the sigmoid function 

def sigmoid(z):
    g=1/(1+np.exp(-z))
    return g

In [17]:
#test sigmoid funtion
value = 0
print (f"sigmoid({value}) = {sigmoid(value)}")

sigmoid(0) = 0.5

In [114]:
#defining a cost function 
def cost_func(x,y,w,b,*argv):
    m , n = x.shape
    z=np.zeros(m)
    g=np.zeros(m)
    loss=np.zeros(m)
    total_cost=0

    for i in range(m):
        for j in range (n):
            z[i]+=w[j]*x[i,j]
        z[i]+=b    
        g[i]=sigmoid(z[i])
        loss[i]=(-y[i]*np.log(g[i])-(1-y[i])*np.log(1-g[i]))
        total_cost+=loss[i]
    total_cost/=m
    return total_cost

In [115]:
m,n=x_train.shape
initial_w = np.zeros(n)
initial_b = 0.
cost = cost_func(x_train, y_train, initial_w, initial_b)
#print(initial_b)
print('Cost at initial w and b (zeros): {:.3f}'.format(cost))

Cost at initial w and b (zeros): 0.693

In [116]:
test_w = np.array([0.1, 0.08,-0.2,0.1,-0.4,0.1,0.06,0.3,-0.2])
test_b = -4
cost = cost_func(x_train, y_train, test_w, test_b)
print('Cost at test w and b (non-zeros): {:.3f}'.format(cost))

Cost at test w and b (non-zeros): 0.038

In [117]:
#gradient descent algorithm
def grad_find(x,y,w,b,*argv):
    m,n=x.shape
    z=np.zeros(m)
    g=np.zeros(m)
    dj_db=0.
    dj_dw=np.zeros(w.shape)
    for i in range(m):
        for j in range(n):
            z[i]=w[j]*x[i][j]
        z[i]+=b
        g[i]=sigmoid(z[i])
        dj_db+=g[i]-y[i]
        for k in range(n):
            dj_dw[k]+=(g[i]-y[i])*x[i][k]
    dj_dw/=m
    dj_db/=m
    return dj_db, dj_dw

In [118]:
initial_w = np.zeros(9)
initial_b = 0.

dj_db, dj_dw = grad_find(x_train, y_train, initial_w, initial_b)
print(f'dj_db at initial w and b (zeros):{dj_db}' )
print(f'dj_dw at initial w and b (zeros):{dj_dw.tolist()}' )

dj_db at initial w and b (zeros):0.4942113482561166
dj_dw at initial w and b (zeros):[0.04131894023901585, 0.001091812511549699, 0.23852620117491602, 0.19601725766781825, 0.3815359459692496, 0.015081741836186683, 0.2540997308088333, 0.19885879138857127, 0.3788402458818082]

In [119]:
test_w = np.array([ 0.1, 0.08,-0.2,0.1,-0.4,0.1,0.06,0.3,-0.2])
test_b = -2
dj_db, dj_dw  = grad_find(x_train, y_train, test_w, test_b)

print('dj_db at test w and b:', dj_db)
print('dj_dw at test w and b:', dj_dw.tolist())

dj_db at test w and b: 0.09826121043918322
dj_dw at test w and b: [0.008264515962735308, 0.0001432293222330918, 0.048103939527926486, 0.038966031011827024, 0.07547711385234956, 0.00299932428218343, 0.05060697250151783, 0.03953216614934368, 0.07494814854740174]

In [120]:
def gradient_descent(x ,y, w_in, b_in, cost_function, gradient_function, alpha, num_iters, lambda_): 
    m = len(x)
    
    # An array to store cost J and w's at each iteration primarily for graphing later
    J_history = []
    w_history = []
    
    for i in range(num_iters):

        # Calculate the gradient and update the parameters
        dj_db, dj_dw = gradient_function(x, y, w_in, b_in, lambda_)   

        # Update Parameters using w, b, alpha and gradient
        w_in = w_in - alpha * dj_dw               
        b_in = b_in - alpha * dj_db              
       
        # Save cost J at each iteration
        if i<15000:      # prevent resource exhaustion 
            cost =  cost_function(x, y, w_in, b_in, lambda_)
            J_history.append(cost)

        # Print cost every at intervals 10 times or as many iterations if < 10
        if i% math.ceil(num_iters/10) == 0 or i == (num_iters-1):
            w_history.append(w_in)
            print(f"Iteration {i:4}: Cost {float(J_history[-1]):8.2f}   ")
        
    return w_in, b_in, J_history, w_history #return w and J,w history for graphing

In [122]:
initial_w = np.array([ 1, 0.8,-2,1,-4,1,0.6,3,-2])
initial_b = -8

# Some gradient descent settings
iterations = 10
alpha = 0.1

w,b, J_history,_ = gradient_descent(x_train ,y_train, initial_w, initial_b, 
                                   cost_func, grad_find, alpha, iterations, 0)

Iteration    0: Cost     0.07
Iteration    1: Cost     0.07
Iteration    2: Cost     0.07
Iteration    3: Cost     0.07
Iteration    4: Cost     0.07
Iteration    5: Cost     0.07
Iteration    6: Cost     0.07
Iteration    7: Cost     0.07
Iteration    8: Cost     0.07
Iteration    9: Cost     0.07

In [123]:
def predict(x, w, b): 
    m, n = x.shape   
    p = np.zeros(m)
    for i in range(m):   
        z_wb = 0
        for j in range(n): 
            z_wb += w[j]*x[i,j]
        z_wb += b
        f_wb = sigmoid(z_wb)
        if(f_wb>=0.5):
            p[i]=1
        else: 
            p[i]=0
        
    return p

In [125]:
tmp_w = np.random.randn(9)
tmp_b = 0.3    
tmp_X = np.random.randn(9, 2) - 0.5

tmp_p = predict(tmp_X, tmp_w, tmp_b)
print(f'Output of predict: shape {tmp_p.shape}, value {tmp_p}')

Output of predict: shape (9,), value [1. 1. 1. 1. 1. 1. 0. 1. 1.]

In [126]:
p = predict(x_train, w,b)
print(w)
print('Train Accuracy: %f'%(np.mean(p == y_train) * 100))

[ 1.00045746  0.80010587 -1.99729374  1.00228146 -3.99556759  1.00019124
  0.6028295   3.00231259 -1.99559916]
Train Accuracy: 99.421135

In [127]:
y_test=data_test['is_fraud']
x_test=data_test.drop('is_fraud',axis=1)

In [128]:
x_test=x_test.drop('Unnamed: 0',axis=1)
x_test=x_test.drop('trans_date_trans_time',axis=1)
x_test=x_test.drop('merchant',axis=1)
x_test=x_test.drop('category',axis=1)
x_test=x_test.drop('first',axis=1)
x_test=x_test.drop('last',axis=1)
x_test=x_test.drop('gender',axis=1)
x_test=x_test.drop('street',axis=1)
x_test=x_test.drop('job',axis=1)
x_test=x_test.drop('dob',axis=1)
x_test=x_test.drop('trans_num',axis=1)
x_test=x_test.drop('city',axis=1)
x_test=x_test.drop('state',axis=1)

In [131]:
x_test=x_test.to_numpy()
y_test=y_test.to_numpy()
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
x_test = scaler.fit_transform(x_test.data)

In [132]:
x_test[0:-1,0:3]

array([[4.58923192e-04, 8.16967986e-05, 2.83304954e-01],
       [7.15689454e-04, 1.26673961e-03, 8.38654423e-01],
       [7.20734225e-04, 1.76921884e-03, 1.05945431e-01],
       ...,
       [7.12401037e-04, 4.86842643e-03, 7.73422930e-01],
       [1.20417608e-03, 3.77210810e-03, 9.93939025e-01],
       [8.05103937e-07, 3.07021840e-04, 8.35015811e-01]])

In [135]:
x_test.max()

1.0

In [138]:
y_train[10:15]

array([0, 0, 0, 0, 0])

In [139]:
p = predict(x_test, w,b)
print(w)
print('Train Accuracy: %f'%(np.mean(p == y_test) * 100))

[ 1.00045746  0.80010587 -1.99729374  1.00228146 -3.99556759  1.00019124
  0.6028295   3.00231259 -1.99559916]
Train Accuracy: 99.614014